Checks: '*,
         -altera-unroll-loops,
         -bugprone-easily-swappable-parameters,
         -cert-err58-cpp,
         -cppcoreguidelines-avoid-non-const-global-variables,
         -cppcoreguidelines-macro-usage,
         -cppcoreguidelines-special-member-functions,
         -fuchsia-statically-constructed-objects,
         -hicpp-deprecated-headers,
         -hicpp-special-member-functions,
         -hicpp-use-equals-delete,
         -llvm-header-guard,
         -llvmlibc-callee-namespace,
         -llvmlibc-implementation-in-namespace,
         -misc-definitions-in-headers,
         -modernize-deprecated-headers,
         -modernize-use-equals-delete,
         -modernize-use-trailing-return-type,
         -readability-convert-member-functions-to-static'
